* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Anuphan", sans-serif;
    background: linear-gradient(124deg, rgba(104, 35, 135, 0.6) 0%, #87688e 37.9%, #865e5c 73.4%, rgba(158, 115, 100, 0.72) 92.4%);
}


.container {
    width: 1381px;
    margin: 0 auto;
}

/* Прелоадер - фон */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

/* Картинка прелоадера */
.preloader img {
    width: 150px;
    height: auto;
    opacity: 0;
    transform: scale(1.2);
    animation: fadeIn 1.5s forwards ease-in-out;
}

/* Анимация появления */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Когда сайт загрузится, скроем прелоадер */
.preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Анимация появления */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Скрытие прелоадера */
.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Фон с видео */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
    margin-bottom: 60px;
    z-index: 10;

}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    object-fit: none;
    z-index: -1;
}

@media (min-width: 1900px) and (max-width: 3500px) {
    .background-video {
        object-fit: unset;
        min-height: 110vh;
        min-width: 170%;
        top: -5vh;
        right: -5vh;

    }
}

@media (max-width: 768px) {
    .background-video {
        min-height: 110vh;
        object-fit: inherit;
        top: -5vh;
    }
}

/* Затемнение */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

/* Навигация */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: transparent;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 0 40px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(45, 32, 58, 0.95);
    padding: 20px 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: -3vh;
}

@media (min-width: 1900px) and (max-width: 3500px) {
    .navbar {
        width: 70%;
        left: 18%;
        margin-left: auto;



    }

    .navbar.scrolled {
        width: 100%;
        left: 0;
    }
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: clamp(20px, 5vw, 100px);
    margin: 0 auto;
}

@media (min-width: 1900px) and (max-width: 3500px) {
    .nav-menu {
        gap: clamp(50px, 15vw, 140px);
    }
}

.nav-link {
    font-family: "Libre Caslon Text", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 123%;
    letter-spacing: 0.25em;
    transition: .3s;
}

.nav-link:hover {
    color: #d8a7a7;
}

.lang-btn {
    width: 48px;
    height: 49px;
    background: #e6b69a;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 31px;
    transition: .3s;
}

@media (min-width: 1900px) and (max-width: 3500px) {
    .lang-btn {
        position: relative;
        right: auto;
    }

    .navbar .lang-btn {
        position: relative;
        margin-left: auto;
    }
}

.lang-btn:hover {
    background-color: #221C27;
    color: #fff;
}


.content {
    z-index: 10;
}

.title {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 181%;
    letter-spacing: 0.36em;

}

.subtitle {
    font-family: "Bilbo", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #e6b69a;
    line-height: 125%;
    letter-spacing: 0.36em;

}

.book-btn {
    border-radius: 35px;
    width: 227px;
    height: 66px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #e6b69a;
    border: none;
    color: #fff;
    font-weight: 400;
    font-family: "Anton SC", sans-serif;
    font-size: 24px;
    line-height: 151%;
    letter-spacing: 0.36em;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
    z-index: 20;

}

.book-btn:hover {
    background: #453552;

}

/* Соц. иконки */
.social-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.social-link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-link i {
    color: black;
    transition: all 0.3s ease;
}

/* При наведении */
.social-link:hover {
    background-color: #d8a7a7;
}

.social-link:hover i {
    color: white;
}



/* Анимация стрелки вниз */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
    z-index: 10;
}

.scroll-arrow {
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: -4vh;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.floating-image {
    position: absolute;
    top: 150vh;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    opacity: 0.2;
    pointer-events: none;
}

/* ABOUT */
.about {
    padding: 80px 0;
    background-color: #fdf8f6;
    margin-bottom: 60px;
}

.about__title {
    font-family: "Bilbo", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.36em;
    position: relative;
    top: -7vh;
    color: #4a215d;
    margin-bottom: 50px;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

/* Текст идет в колонку */
.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.about__year {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 181%;
    letter-spacing: 0.02em;
    color: #4a215d;
}

.about__desc {
    min-width: 605px;
    min-height: 512px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #333;
}

/* Фотки стоят рядом, но вторая выше */
.about__images {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    position: relative;
}

.about__img {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Основное фото */
.about__img--large {
    width: 260px;
    position: relative;
    top: 65px;
}

/* Маленькое фото поднимается вверх */
.about__img--small {
    width: 296px;
    transform: translateY(-30px);
}

.about__services {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    min-width: 385px;
    max-height: 237px;

}

.service {
    display: flex;
    align-items: flex-start;
    /* Выровнял по верхнему краю */
    gap: 15px;
    /* Отступ между иконкой и текстом */
    max-width: 300px;
    text-align: left;
    /* Текст остаётся слева */
}

.service__icon {
    width: 89px;
    height: 95px;
    height: auto;
    flex-shrink: 0;
    margin-left: -5vh;
    margin-right: 5vh;
    /* Чтобы иконка не сжималась */
}

/* Анимация при скролле */
.section-visible .about__services {
    opacity: 1;
    transform: translateY(0);
}

.section-visible .service {
    opacity: 1;
    transform: translateY(0);
}

/* Покачивание иконки при наведении */
.service:hover .service__icon {
    transform: translateX(-10px);
}

.service__title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    min-width: 280px;
    padding-bottom: 20px;
    font-size: 26px;
    line-height: 121%;
    letter-spacing: -0.04em;
    color: #632b5e;
}

.service__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.01em;
}

.service__content {
    display: flex;
    flex-direction: column;
    margin-left: -5vh;
    /* Заголовок и описание в столбец */
}

/* ANIMATIONS */
/* Начальные стили анимации */
.about__title,
.about__text,
.about__images,
.about__services {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 1s ease-out, transform 1.2s ease-out;
}

/* Когда элементы видны */
.about__title.visible,
.about__text.visible,
.about__images.visible,
.about__services.visible {
    opacity: 1;
    transform: scale(1);
}

.service__icon {
    transition: transform 0.4s ease-in-out;
}

.service:hover .service__icon {
    transform: rotate(-10deg) translateX(-10px);
}

/* Возвращение в исходное положение */
.service:not(:hover) .service__icon {
    transform: rotate(0deg) translateX(0);
}

/* ANIMATIONS */



/* SERVICES */
.services {
    position: relative;
    text-align: center;
    padding: 60px 20px;
    position: relative;
    background-color: #f9f2eb;
    overflow: hidden;
    margin-bottom: 100px;
}

.services::before {
    content: "SKIN \A BEAUTY \A CARE";
    width: 1052px;
    height: 414px;
    font-family: "Anybody", sans-serif;
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: pre-line;
    /* Позволяет переносить строки */
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    font-size: 320px;
    /* Подбери нужный размер */
    line-height: 1.1;
    letter-spacing: 0.17em;
    color: rgba(82, 58, 103, 0.09);
    text-align: center;

}

.services__subtitle {
    font-family: "Bilbo", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #e0b448;
    background-color: #3e3e3e;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.services__title {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 181%;
    color: rgba(108, 59, 101, 0.86);
    margin-bottom: 40px;
}


.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-bottom: 90px;
}


.services__card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    z-index: 1;
}


.services__image {
    width: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}


.services__overlay {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 350px;
    height: 20px;
    background: rgba(163, 163, 163, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.services__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: white;
}


.services__line {
    margin-top: 1px;
    position: absolute;
    top: 4vh;
    width: 137px;
    height: 2px;
    z-index: 2;
    opacity: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(227deg, rgba(248, 248, 248, 0.66) 0%, rgba(219, 166, 101, 0.66) 32.4%, rgba(219, 166, 101, 0.66) 62.4%, rgba(255, 255, 255, 0.66) 97.4%) !important;
}


.services__card:hover .services__image {
    transform: scale(1.1);
}

.services__card:hover .services__overlay {
    opacity: 1;
}

.services__footer {
    border-radius: 63px;
    width: 906px;
    height: 276px;
    margin: 50px auto 0;
    background: #201820;
    padding: 30px;
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: -150px;
    padding-top: 50px;
    margin-bottom: 40px;
    z-index: 2;
}

.services__footer-title {
    font-weight: 300;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

.services__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* Разделяем группы точек */
    margin-bottom: 15px;
}

/* Группа точек */
.dots-group {
    display: flex;
    gap: 25px;
}

/* Маленькие точки */
.dot.small {
    width: 9px;
    height: 10px;
}

/* Средние точки */
.dot.medium {
    width: 15px;
    height: 15px;
}

/* Большие точки */
.dot.large {
    width: 26px;
    height: 24px;
}

/* Общие стили */
.dot {
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

/* Центральные большие точки */
.dot.large {
    opacity: 1;
}

.services__footer-subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.services__btn {
    font-family: "Anton SC", sans-serif;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 151%;
    letter-spacing: 0.19em;
    border-radius: 45px;
    width: 197px;
    height: 58px;
    text-transform: uppercase;
    background: #6a4b82;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
}

.services__btn:hover {
    background: #8a6aa6;
}


@media (max-width: 1024px) {
    .services__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .services__grid {
        grid-template-columns: 1fr;
    }

    .services__background-text {
        font-size: 60px;
    }
}